@{
    ViewBag.Title = "Contacto";
}

<div class="container">
    <div class="page-header">
        <h1>Oficina Docencia Servicio.</h1>
    </div>
    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-leftheading">
                    <h3 class="panel-lefttitle">Quiénes Somos</h3>
                </div>
                <div class="panel-rightbody">
                    <p>La Oficina Docencia Servicio es una dependencia de la Facultad de Ciencias para la Salud; la cual facilita las relaciones docencia- servicio entre la Universidad de Caldas como

institución educativa, con otras Universidades y las organizaciones  que prestan servicios de salud,

con el fin de garantizar que las prácticas académicas para la formación del talento humano en

salud, en los diferentes escenarios, se lleven a cabo de una manera armónica y en el marco de la

normatividad existente.</p>
                  
                </div>
                <div class="clearfix">
                </div>
            </div>

           

            <div class="panel panel-success">
                <div class="panel-leftheading">
                    <h3 class="panel-lefttitle">Contacto</h3>
                </div>
                <div class="panel-rightbody">
                    <p>Facultad Ciencias para la Salud</p>
                    <p>Universidad de Caldas</p>
                    <p>Carrera 25  48-57- Sede Versalles</p> 
                    <p>878 30 60 Ext. 31255</p>
                    <p>docencia.servicio@ucaldas.edu.co</p>
                    <p>servidor.facsalud@ucaldas.edu.co</p>
                    
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="panel panel-info">
                <div class="panel-leftheading">
                    <h3 class="panel-lefttitle">Objetivos</h3>
                </div>
                <div class="panel-rightbody">
                    <p>
                        Asegurar	 alianzas	 y	 planes	 de	 corto,	 mediano	 y	 	 largo	 plazo	 entre	 instituciones

                        educativas	e	instituciones	prestadoras		y	aseguradoras	de	servicios	de	salud,	con	base

                        en	 el	 Decreto	 2376	 de	 2010, para	 el	 desarrollo	 y	 fortalecimiento	 de	 escenarios	 de

                        práctica	que	favorezcan la	adecuada	formación	del	recurso	humano	en	salud.
                    </p>

                    <p>
                        Ajustar	 las	 actividades	 académicas	 y	 administrativas	 de	 acuerdo	 con	 los

                        requerimientos	 del	 Decreto	 2376	 de	 2010	 y	 los	 compromisos	 acordados	 en	 los

                        convenios.
                    </p>

                    <p>
                        Poner	 en	 funcionamiento	 la	 plataforma	 virtual	 de	 la	 relación	 docencia	 servicio	 de

                        manera	 articulada	 con	 la	 página	 Web	 de	 la	 Universidad	 para	 el	 acceso	 de	 los

                        diferentes	actores que	participan	en	la	relación	(Universidad,	IPS	y	ESE).
                    </p>

                </div>
                <div class="clearfix">
                </div>
            </div>

           

         

        </div>
    </div>
